.calculator {
  font-size: 14px;
  height: 415px;
  color: #5E7A7D;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formInput input{
  background-color: #f3f8fb;
  border: 5px solid #f3f8fb;
  border-radius: 5px;
  width: calc(100% - 8px);
  font-size: 24px;
  outline: none;
}


.formInput input:focus {
  border: 3px solid #26C0AB;
  outline: none;
}

.formItem:before {
  content: "";
  position: absolute;
  left: 230px;
  top: 0;
  bottom: 160px;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}


.percents {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.percents > button{
  background-color: #00494D;
  color: #FFF;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.percents > button.active {
  background-color: #C5E4E7;
  color: #00494D;
  border: 2px solid #C5E4E7;
  font-weight: bold;
}

.percents > input{
  background-color: #f3f8fb;
  border: 5px solid #f3f8fb;
  border-radius: 5px;
  width: calc(100% - 8px);
  font-size: 24px;
  outline: none;
}

.percents > input::placeholder {
  padding-left: 13px;
  color: #5E7A7D;
}