.calculator {
  font-size: 14px;
  height: 415px;
  color: #5E7A7D;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formInput {
  position: relative;
}

.formInput input{
  background-color: #f3f8fb;
  border: 3px solid #f3f8fb;
  border-radius: 5px;
  width: calc(100% - 8px);
  font-size: 24px;
  outline: none;
}


.formInput input:focus {
  border: 3px solid #26C0AB;
  outline: none;
}

.formInput span {
  width: 40px;
  height: 29px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
}

.percents {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
}

.percents > button{
  background-color: #00494D;
  border: 5px solid #00494D;
  color: #FFF;
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  height: 46px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.percents > button.active {
  background-color: #C5E4E7;
  color: #00494D;
  border: 2px solid #C5E4E7;
  font-weight: bold;
}

.percents > input{
  background-color: #f3f8fb;
  border: 5px solid #f3f8fb;
  border-radius: 5px;
  width: calc(100% - 8px);
  font-size: 24px;
  outline: none;
}

.percents > input::placeholder {
  padding-left: 13px;
  color: #5E7A7D;
}
