.easterEgg {
  position: absolute;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.easterEgg .modalContent {
  margin: auto;
  border: 1px solid red;
}

