.resultsContainer {
    background-color: #00494D;
    height: 430px;
    border-radius: 12px;
}

.informativeText {
    color: #FFFFFF;
}

.personText {
    color: #5E7A7D;
}

.numbers {
    color: #26C0AB;
}